.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname, 
            | if we dream that we have many dollars, what would we do with it? I know! Let's translate it in Euro!
    p.wrapper__explaining Write about how many dollars you are dreaming.
    input.wrapper__input#js-dollars(type="number", placeholder="how many dollars?", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-convertIt