.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname 
            | don't bring your money to the Bank, there is only 5% deposit!!
    p.wrapper__explaining Write amount of money what would you bring on deposit on 2 months.
    input.wrapper__input#js-amount(type="number", placeholder="write hire", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-deposit