.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname, 
            | i'm absolutely forgot! You ask me about interesting films... So, say what you flash-drive volume and i answer you how many films i can write on it.
    p.wrapper__explaining Write flash-drive volume.
    input.wrapper__input#js-volume(type="number", placeholder="in Gb, pls", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-flashVolume