.wrapper__inner.active
    .wrapper__header
        p.wrapper__greeting Hello 
            span Noname
            | !
        h1.wrapper__title It's beetroot homework for basic JS, nice to meet you!
    p.wrapper__explaining You located on greeting page, clicks on upside tabs for another content=)