.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname, 
            | how many money in your purse, i want cocolate.
    p.wrapper__explaining Write how many money and how much cost one chocolate plate.
    input.wrapper__input#js-money(type="number", placeholder="how many money", required)
    input.wrapper__input#js-plates(type="number", placeholder="how much one plate", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-howMany