.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname, 
            | let's counting our needs of speed! I need from you distance in km and time in hours.
    p.wrapper__explaining Write distance in km and time in hours, please.
    input.wrapper__input#js-distance(type="number", placeholder="write distance, km", required)
    input.wrapper__input#js-time(type="number", placeholder="write time, hours", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-nFSpeed