.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname 
            | I know what you want... And it's counter of square perimetr!!)
    p.wrapper__explaining Write lenght of square side, please.
    input.wrapper__input#js-squareSide(type="number", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-pOfSquare