.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname 
            | Tell me number and i reverce it!!)
    p.wrapper__explaining Write integer number.
    input.wrapper__input#js-number(type="number", placeholder="write a number", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-reverseIt