.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname, 
            | what about area of circle?)
    p.wrapper__explaining Write radius of circle, please.
    input.wrapper__input#js-radius(type="number", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-sOfCircle